html, body{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  display: grid;
  /* grid-row-gap: 10px; */
  grid-template-columns: 100px 150px 100px;
}

.CylinderPicto, .CylinderSpaceBetween{
  width: 30px;
  height: 30px;
  
}

.CylinderSpaceBetween{
  width: 100%;
}

.grid-item
{
  display: flex;
  flex-direction: row;
}

.Cylinder, .Cylinder_right{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  /* text-anchor: end; */
  margin-right: 0px;
  margin-left: auto;
}

.Cylinder_right{
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 0px;
}

.CylinderNumber{
  width: 2rem;
}

.shelveRow > div{
  /* margin: 5px; */
}


.CylinderSpaceBetween{
  /* width: 50%; */
  /* padding: 0%; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
